/**
 * TQ Admin Console
 *
 * Product of IA
 *
 * long description for the file
 *
 * @summary CSS that apply to main workspace
 * @author Cliff Crerar
 *
 * Created at     : 2018-03-26 23:26:29 
 * Last modified  : 2018-04-03 21:53:05
 */

.loadingDiv {
  display: none;
  position: fixed;
  height: 100%;
  z-index: 7000;
  left: 50%;
  transform: translateX(-50%);
}

.loadingImg {
  position: relative;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
}

.loadingTxt {
  width: 100%;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7100;
}

.ui-menu {
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.workSpace {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card1 {
  margin-top: 1vh;
}

.userAlert {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 6000;
  top: 50%;
  transform: translateY(-50%);
}

.alertOverlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
}

.card2 {
  margin-top: 1vh;
}

.card3 {
  margin-top: 1vh;
}

.card3-body {
  padding: 5px;
}

.modeDesc {
  width: 50%;
  margin: 0%;
  padding-left: 5%;
}
.partCount {
  width: 50%;
  margin: 0%;
  padding-right: 5%;
}

.vMode {
  color: rgb(0, 204, 0);
}

.eMode {
  color: rgb(255, 187, 0);
}

.aMode {
  color: rgb(204, 0, 0);
}

.wsHeading {
  font-family: black ops one;
}

.form-control {
  min-height: 24px !important;
  margin: 5px 0 5px 0 !important;
}

.imgBtnLinks {
  width: 40px !important;
}

.editModeBtns {
  display: none;
  width: 50%;
}

.edtCancelSave {
  width: 50% !important;
}

.btn-danger.edtCancelSave {
  margin-left: -5px !important;
}

.addModeBtns {
  display: none;
}

.imgSettings {
  margin-left: 0px;
  width: 100% !important;
  border: solid 2px black;
  border-radius: 5px;
}

.btnLocalize {
  width: 66%;
  margin: 0 0 5px 0;
}

.inpgrp1 {
  padding-right: 0px !important;
}

.imgLink {
  position: relative;
  z-index: 1000;
}

.disabled {
  background-color: rgb(230, 227, 227);
  pointer-events: none;
  cursor: not-allowed;
}

.disabledArrow {
  cursor: not-allowed;
}

.prevNextArrow {
  filter: invert(100%);
}

.arrow {
  display: none;
}

.leftArrow {
  position: fixed !important;
  top: 20%;
  left: 5%;
  z-index: 4000;
}

.leftArrow:hover {
  transform: scale(1.2);
}

.rightArrow {
  position: fixed !important;
  top: 20%;
  right: 5%;
  z-index: 4000;
}

.rightArrow:hover {
  transform: scale(1.2);
}

.po-btn {
  margin-top: 5px;
  width: 60px !important;
}

.addModels.modal {
  position: relative;
  z-index: 5000;
  top: 30%;
}

.modal-content {
  padding: 5%;
}

.mSelect {
  overflow-y: scroll;
}
